header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height:50px;
  padding:0 50px;
  background-color:$primary;
  span{
    color:$white;
  }
}
.logout{
  margin-left: 150px;
  &:hover{
    cursor:pointer;
    color:lightgray;
  }
}
